# Ignore all
*

# Unignore all files with extensions
!*.*

# Unignore all dirs
!*/

# Ignore tapes/ (for screen recording)
tapes/

# adding a meangingless comment to test whether I can merge after approval
